<?xml version="1.0" encoding="utf-8"?>

<configuration scan="false">
	<property name="format" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %c:%L- %msg%n"/>
	<property name="maxHistoryDay" value="30"/>
	<property name="maxFileSize" value="60MB"/>
	<property name="charset" value="UTF-8"/>
	<property name="APPLICATION_NAME" value="tahoe-bo-job"/>
	<property name="LOG_HOME" value="/home/logs/${APPLICATION_NAME}"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${format}</pattern>
		</encoder>
	</appender>

	<!--错误日志-->
	<appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error/${APPLICATION_NAME}_error_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>${maxHistoryDay}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${format}</pattern>
			<charset>${charset}</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 系统日志 -->
	<appender name="SYSTEM_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/system/${APPLICATION_NAME}_system_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<maxHistory>${maxHistoryDay}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${format}</pattern>
			<charset>${charset}</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- UC日志 -->
	<appender name="UC_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/uc/${APPLICATION_NAME}_uc_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<maxHistory>${maxHistoryDay}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${format}</pattern>
			<charset>${charset}</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- SQL日志 -->
	<appender name="SQL_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/sql/${APPLICATION_NAME}_sql_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<maxHistory>${maxHistoryDay}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${format}</pattern>
			<charset>${charset}</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="com.tahoecn.uc.UcClient" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ERROR_APPENDER"/>
		<appender-ref ref="UC_APPENDER"/>
	</logger>

	<logger name="com.tahoecn.bo.mapper" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="ERROR_APPENDER"/>
		<appender-ref ref="SQL_APPENDER"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="ERROR_APPENDER"/>
		<appender-ref ref="SYSTEM_APPENDER"/>
	</root>

</configuration>