<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.bo.mapper.BoProductTypeMapper">

    <select id="selectTypeInfo" resultType="com.tahoecn.bo.model.dto.ProductTypeInfoDto">
        SELECT id typeId,parent_id typeParentId,name typeName,code typeCode from bo_product_type
        WHERE is_delete = 0 AND is_disable = 0
    </select>

    <select id="selectByProductTypeId" resultType="com.tahoecn.bo.model.dto.ProductTypeInfoDto">
        SELECT id typeId,parent_id typeParentId,name typeName,code typeCode FROM bo_product_type WHERE id = #{productTypeId}
        AND is_delete = 0 AND is_disable = 0
        UNION ALL
        SELECT id typeId,parent_id typeParentId,name typeName,code typeCode FROM (
        SELECT t1.id,t1.parent_id,t1.name,code,
        IF(FIND_IN_SET(parent_id, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) AS ischild
        FROM (
        SELECT id,parent_id,name,code FROM bo_product_type t WHERE t.is_delete = 0 AND t.is_disable = 0 ORDER BY parent_id, id
        ) t1,
        (SELECT @pids := #{productTypeId}) t2
        ) t3 WHERE ischild != 0;
    </select>

</mapper>
