<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.bo.mapper.SaleRoomSyncLogMapper">

	<select id="selectSyncTimeStamp" resultType="com.tahoecn.bo.model.entity.SaleRoomSyncLog">
        SELECT
			id,
			sync_timestamp,
			type,
			num,
			create_time
		FROM
			sale_room_sync_log
		WHERE type = #{type}
		ORDER BY create_time DESC LIMIT 1
    </select>

</mapper>
