<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.bo.mapper.TutouThBudgetTbMapper">

	<select id="selectBudgetListDS" resultType="com.tahoecn.bo.model.entity.TutouThBudgetTb">
		SELECT
			budget_id budgetId,
			land_id landId,
			total_value totalValue,
			total_value_use totalValueUse,
			direct_cost directCost,
			direct_cost_use directCostUse,
			land_cost landCost,
			land_cost_plan landCostPlan,
			dev_cost devCost,
			dev_cost_plan devCostPlan,
			construction_cost constructionCost,
			construction_cost_plan constructionCostPlan,
			development_indirect_fee developmentIndirectFee,
			development_indirect_fee_plan developmentIndirectFeePlan,
			unforeseeable_fee unforeseeableFee,
			unforeseeable_fee_plan unforeseeableFeePlan,
			cost_period costPeriod,
			cost_period_use costPeriodUse,
			selling_expenses sellingExpenses,
			selling_expenses_plan sellingExpensesPlan,
			management_cost managementCost,
			management_cost_plan managementCostPlan,
			financial_cost financialCost,
			financial_cost_plan financialCostPlan,
			taxation,
			taxation_use taxationUse,
			value_added_tax valueAddedTax,
			value_added_tax_plan valueAddedTaxPlan,
			value_added_tax_added valueAddedTaxAdded,
			value_added_tax_added_plan valueAddedTaxAddedPlan,
			land_value_added_tax landValueAddedTax,
			land_value_added_tax_plan landValueAddedTaxPlan,
			corporate_income_tax corporateIncomeTax,
			corporate_income_tax_plan corporateIncomeTaxPlan,
			shareholder_net_profit shareholderNetProfit,
			net_margin netMargin,
			shareholder_nterest_rate shareholderNterestRate,
			management_peak_capital managementPeakCapital,
			financing_peak_capital financingPeakCapital,
			cash_cycle cashCycle,
			financing_peak_cycle financingPeakCycle,
			item_company_irr itemCompanyIrr,
			item_company_lv_irr itemCompanyLvIrr,
			share_ratio shareRatio,
			purchase_price purchasePrice,
			purchase_price_use purchasePriceUse,
			premium,
			premium_use premiumUse,
			tahoe_total_value tahoeTotalValue,
			tahoe_total_value_use tahoeTotalValueUse,
			tahoe_net_profit tahoeNetProfit,
			tahoe_net_profit_use tahoeNetProfitUse,
			tahoe_net_profit_margin tahoeNetProfitMargin,
			tahoe_net_profit_margin_use tahoeNetProfitMarginUse,
			shareholder_capital_investment shareholderCapitalInvestment,
			shareholder_capital_investment_use shareholderCapitalInvestmentUse,
			land_ratio landRatio,
			capital_cycle capitalCycle,
			share_irr shareIrr,
			land_value landValue,
			land_value_use landValueUse,
			direct_cost_accounts directCostAccounts,
			direct_cost_accounts_use directCostAccountsUse,
			indirect_fee indirectFee,
			indirect_fee_use indirectFeeUse,
			taxation_accounts taxationAccounts,
			taxation_accounts_use taxationAccountsUse,
			tahoe_total_value_accounts tahoeTotalValueAccounts,
			tahoe_total_value_accounts_use tahoeTotalValueAccountsUse,
			tahoe_net_profit_accounts tahoeNetProfitAccounts,
			tahoe_net_profit_accounts_use tahoeNetProfitAccountsUse,
			tahoe_net_profit_margin_accounts tahoeNetProfitMarginAccounts,
			appendix_local_name appendixLocalName,
			appendix_database_name appendixDatabaseName,
			appendix_url appendixUrl,
			type,
			other_taxes_square otherTaxesSquare,
			other_taxes otherTaxes
		FROM
			th_budget_tb
    </select>
    
	<select id="selectByBudgetId" resultType="com.tahoecn.bo.model.entity.TutouThBudgetTb">
		SELECT
			id,
			budget_id budgetId,
			land_id landId,
			total_value totalValue,
			total_value_use totalValueUse,
			direct_cost directCost,
			direct_cost_use directCostUse,
			land_cost landCost,
			land_cost_plan landCostPlan,
			dev_cost devCost,
			dev_cost_plan devCostPlan,
			construction_cost constructionCost,
			construction_cost_plan constructionCostPlan,
			development_indirect_fee developmentIndirectFee,
			development_indirect_fee_plan developmentIndirectFeePlan,
			unforeseeable_fee unforeseeableFee,
			unforeseeable_fee_plan unforeseeableFeePlan,
			cost_period costPeriod,
			cost_period_use costPeriodUse,
			selling_expenses sellingExpenses,
			selling_expenses_plan sellingExpensesPlan,
			management_cost managementCost,
			management_cost_plan managementCostPlan,
			financial_cost financialCost,
			financial_cost_plan financialCostPlan,
			taxation,
			taxation_use taxationUse,
			value_added_tax valueAddedTax,
			value_added_tax_plan valueAddedTaxPlan,
			value_added_tax_added valueAddedTaxAdded,
			value_added_tax_added_plan valueAddedTaxAddedPlan,
			land_value_added_tax landValueAddedTax,
			land_value_added_tax_plan landValueAddedTaxPlan,
			corporate_income_tax corporateIncomeTax,
			corporate_income_tax_plan corporateIncomeTaxPlan,
			shareholder_net_profit shareholderNetProfit,
			net_margin netMargin,
			shareholder_nterest_rate shareholderNterestRate,
			management_peak_capital managementPeakCapital,
			financing_peak_capital financingPeakCapital,
			cash_cycle cashCycle,
			financing_peak_cycle financingPeakCycle,
			item_company_irr itemCompanyIrr,
			item_company_lv_irr itemCompanyLvIrr,
			share_ratio shareRatio,
			purchase_price purchasePrice,
			purchase_price_use purchasePriceUse,
			premium,
			premium_use premiumUse,
			tahoe_total_value tahoeTotalValue,
			tahoe_total_value_use tahoeTotalValueUse,
			tahoe_net_profit tahoeNetProfit,
			tahoe_net_profit_use tahoeNetProfitUse,
			tahoe_net_profit_margin tahoeNetProfitMargin,
			tahoe_net_profit_margin_use tahoeNetProfitMarginUse,
			shareholder_capital_investment shareholderCapitalInvestment,
			shareholder_capital_investment_use shareholderCapitalInvestmentUse,
			land_ratio landRatio,
			capital_cycle capitalCycle,
			share_irr shareIrr,
			land_value landValue,
			land_value_use landValueUse,
			direct_cost_accounts directCostAccounts,
			direct_cost_accounts_use directCostAccountsUse,
			indirect_fee indirectFee,
			indirect_fee_use indirectFeeUse,
			taxation_accounts taxationAccounts,
			taxation_accounts_use taxationAccountsUse,
			tahoe_total_value_accounts tahoeTotalValueAccounts,
			tahoe_total_value_accounts_use tahoeTotalValueAccountsUse,
			tahoe_net_profit_accounts tahoeNetProfitAccounts,
			tahoe_net_profit_accounts_use tahoeNetProfitAccountsUse,
			tahoe_net_profit_margin_accounts tahoeNetProfitMarginAccounts,
			appendix_local_name appendixLocalName,
			appendix_database_name appendixDatabaseName,
			appendix_url appendixUrl,
			type,
			other_taxes_square otherTaxesSquare,
			other_taxes otherTaxes
		FROM
			tutou_th_budget_tb
		Where budget_id = #{budgetId}
    </select>

	<insert id="batchInsertBudgetList">
		INSERT INTO tutou_th_budget_tb (
			id,budget_id,land_id,total_value,total_value_use,direct_cost,
			direct_cost_use,land_cost,land_cost_plan,dev_cost,dev_cost_plan,
			construction_cost,construction_cost_plan,development_indirect_fee,
			development_indirect_fee_plan,unforeseeable_fee,unforeseeable_fee_plan,
			cost_period,cost_period_use,selling_expenses,selling_expenses_plan,
			management_cost,management_cost_plan,financial_cost,
			financial_cost_plan,taxation,taxation_use,value_added_tax,
			value_added_tax_plan,value_added_tax_added,value_added_tax_added_plan,
			land_value_added_tax,land_value_added_tax_plan,corporate_income_tax,
			corporate_income_tax_plan,shareholder_net_profit,net_margin,shareholder_nterest_rate,
			management_peak_capital,financing_peak_capital,cash_cycle,financing_peak_cycle,
			item_company_irr,item_company_lv_irr,share_ratio,purchase_price,
			purchase_price_use,premium,premium_use,tahoe_total_value,tahoe_total_value_use,
			tahoe_net_profit,tahoe_net_profit_use,tahoe_net_profit_margin,tahoe_net_profit_margin_use,
			shareholder_capital_investment,shareholder_capital_investment_use,
			land_ratio,capital_cycle,share_irr,land_value,land_value_use,
			direct_cost_accounts,direct_cost_accounts_use,indirect_fee,indirect_fee_use,
			taxation_accounts,taxation_accounts_use,tahoe_total_value_accounts,
			tahoe_total_value_accounts_use,tahoe_net_profit_accounts,tahoe_net_profit_accounts_use,
			tahoe_net_profit_margin_accounts,appendix_local_name,appendix_database_name,
			appendix_url,type,other_taxes_square,other_taxes,create_time
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
    	(
    		#{item.id},#{item.budgetId},#{item.landId},#{item.totalValue},#{item.totalValueUse},
    		#{item.directCost},#{item.directCostUse},#{item.landCost},#{item.landCostPlan},
    		#{item.devCost},#{item.devCostPlan},#{item.constructionCost},#{item.constructionCostPlan},
    		#{item.developmentIndirectFee},#{item.developmentIndirectFeePlan},
    		#{item.unforeseeableFee},#{item.unforeseeableFeePlan},#{item.costPeriod},#{item.costPeriodUse},
    		#{item.sellingExpenses},#{item.sellingExpensesPlan},#{item.managementCost},#{item.managementCostPlan},
    		#{item.financialCost},#{item.financialCostPlan},#{item.taxation},#{item.taxationUse},
    		#{item.valueAddedTax},#{item.valueAddedTaxPlan},#{item.valueAddedTaxAdded},
    		#{item.valueAddedTaxAddedPlan},#{item.landValueAddedTax},#{item.landValueAddedTaxPlan},
    		#{item.corporateIncomeTax},#{item.corporateIncomeTaxPlan},#{item.shareholderNetProfit},
    		#{item.netMargin},#{item.shareholderNterestRate},#{item.managementPeakCapital},
    		#{item.financingPeakCapital},#{item.cashCycle},#{item.financingPeakCycle},#{item.itemCompanyIrr},
    		#{item.itemCompanyLvIrr},#{item.shareRatio},#{item.purchasePrice},#{item.purchasePriceUse},
    		#{item.premium},#{item.premiumUse},#{item.tahoeTotalValue},#{item.tahoeTotalValueUse},
    		#{item.tahoeNetProfit},#{item.tahoeNetProfitUse},#{item.tahoeNetProfitMargin},#{item.tahoeNetProfitMarginUse},
    		#{item.shareholderCapitalInvestment},#{item.shareholderCapitalInvestmentUse},
    		#{item.landRatio},#{item.capitalCycle},#{item.shareIrr},#{item.landValue},#{item.landValueUse},
    		#{item.directCostAccounts},#{item.directCostAccountsUse},#{item.indirectFee},#{item.indirectFeeUse},
    		#{item.taxationAccounts},#{item.taxationAccountsUse},#{item.tahoeTotalValueAccounts},
    		#{item.tahoeTotalValueAccountsUse},#{item.tahoeNetProfitAccounts},#{item.tahoeNetProfitAccountsUse},
    		#{item.tahoeNetProfitMarginAccounts},#{item.appendixLocalName},#{item.appendixDatabaseName},
    		#{item.appendixUrl},#{item.type},#{item.otherTaxesSquare},#{item.otherTaxes},#{item.createTime}
      	)
    	</foreach>
	</insert>
	
	<update id="batchUpdateBudgetList">
        <foreach collection="list" separator=";" item="item">
            update tutou_th_budget_tb set
            	id = #{item.id},
            	budget_id = #{item.budgetId},
				land_id = #{item.landId},
				total_value = #{item.totalValue},
				total_value_use = #{item.totalValueUse},
				direct_cost = #{item.directCost},
				direct_cost_use = #{item.directCostUse},
				land_cost = #{item.landCost},
				land_cost_plan = #{item.landCostPlan},
				dev_cost = #{item.devCost},
				dev_cost_plan = #{item.devCostPlan},
				construction_cost = #{item.constructionCost},
				construction_cost_plan = #{item.constructionCostPlan},
				development_indirect_fee = #{item.developmentIndirectFee},
				development_indirect_fee_plan = #{item.developmentIndirectFeePlan},
				unforeseeable_fee = #{item.unforeseeableFee},
				unforeseeable_fee_plan = #{item.unforeseeableFeePlan},
				cost_period = #{item.costPeriod},
				cost_period_use = #{item.costPeriodUse},
				selling_expenses = #{item.sellingExpenses},
				selling_expenses_plan = #{item.sellingExpensesPlan},
				management_cost = #{item.managementCost},
				management_cost_plan = #{item.managementCostPlan},
				financial_cost = #{item.financialCost},
				financial_cost_plan = #{item.financialCostPlan},
				taxation = #{item.taxation},
				taxation_use = #{item.taxationUse},
				value_added_tax = #{item.valueAddedTax},
				value_added_tax_plan = #{item.valueAddedTaxPlan},
				value_added_tax_added = #{item.valueAddedTaxAdded},
				value_added_tax_added_plan = #{item.valueAddedTaxAddedPlan},
				land_value_added_tax = #{item.landValueAddedTax},
				land_value_added_tax_plan = #{item.landValueAddedTaxPlan},
				corporate_income_tax = #{item.corporateIncomeTax},
				corporate_income_tax_plan = #{item.corporateIncomeTaxPlan},
				shareholder_net_profit = #{item.shareholderNetProfit},
				net_margin = #{item.netMargin},
				shareholder_nterest_rate = #{item.shareholderNterestRate},
				management_peak_capital = #{item.managementPeakCapital},
				financing_peak_capital = #{item.financingPeakCapital},
				cash_cycle = #{item.cashCycle},
				financing_peak_cycle = #{item.financingPeakCycle},
				item_company_irr = #{item.itemCompanyIrr},
				item_company_lv_irr = #{item.itemCompanyLvIrr},
				share_ratio = #{item.shareRatio},
				purchase_price = #{item.purchasePrice},
				purchase_price_use = #{item.purchasePriceUse},
				premium = #{item.premium},
				premium_use = #{item.premiumUse},
				tahoe_total_value = #{item.tahoeTotalValue},
				tahoe_total_value_use = #{item.tahoeTotalValueUse},
				tahoe_net_profit = #{item.tahoeNetProfit},
				tahoe_net_profit_use = #{item.tahoeNetProfitUse},
				tahoe_net_profit_margin = #{item.tahoeNetProfitMargin},
				tahoe_net_profit_margin_use = #{item.tahoeNetProfitMarginUse},
				shareholder_capital_investment = #{item.shareholderCapitalInvestment},
				shareholder_capital_investment_use = #{item.shareholderCapitalInvestmentUse},
				land_ratio = #{item.landRatio},
				capital_cycle = #{item.capitalCycle},
				share_irr = #{item.shareIrr},
				land_value = #{item.landValue},
				land_value_use = #{item.landValueUse},
				direct_cost_accounts = #{item.directCostAccounts},
				direct_cost_accounts_use = #{item.directCostAccountsUse},
				indirect_fee = #{item.indirectFee},
				indirect_fee_use = #{item.indirectFeeUse},
				taxation_accounts = #{item.taxationAccounts},
				taxation_accounts_use = #{item.taxationAccountsUse},
				tahoe_total_value_accounts = #{item.tahoeTotalValueAccounts},
				tahoe_total_value_accounts_use = #{item.tahoeTotalValueAccountsUse},
				tahoe_net_profit_accounts = #{item.tahoeNetProfitAccounts},
				tahoe_net_profit_accounts_use = #{item.tahoeNetProfitAccountsUse},
				tahoe_net_profit_margin_accounts = #{item.tahoeNetProfitMarginAccounts},
				appendix_local_name = #{item.appendixLocalName},
				appendix_database_name = #{item.appendixDatabaseName},
				appendix_url = #{item.appendixUrl},
				type = #{item.type},
				other_taxes_square = #{item.otherTaxesSquare},
				other_taxes = #{item.otherTaxes},
				update_time = #{item.updateTime}
			Where id = #{item.id}
        </foreach>
    </update>
    
</mapper>
